@import 'colors' ;
@import 'card';

$size: 12rem;
$pixels: 5px ;
$space_elements: 1;

button{
    padding-top: $size / 24;
    padding-bottom: $size / 24;
    padding-left: $size / 12;
    padding-right: $size / 12;

    border-radius: $pixels;
    background-color: $farei_color;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    &:hover{
        background-color: $farei2_color ;
    }
}
hr{
    border-color: $farei_color ;
    width: 20%;
    margin: auto;
}
.spacing{
    margin: $size/10 0;
}
.title-spacing{
    margin: $size/24;
}
*{
    margin: 0;
    padding: 0;
}
.part1{
    padding: $size*3/2 $size;
    color: $text_white;
    background-image: url(../assets/1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.part2{
    display: flex;
    text-align: center;
    .part2-left{
        padding: $size $size/2;
        width: 50%;
        color: $text_white;
        background-color: $main2_color;
    }
    .part2-right{
        padding: $size $size/2;
        width: 50%;
        color: $text_white;
        background-color: $main1_color;

    }
}
.part3{
    display: flex;
    .part3-left{
        padding: $size $size/2;
        width: 30%;
        background-color: $farei2_color;
    }
    .part3-right{
        width: 70%;
        background-image: url(../assets/2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.part4{
    display: flex;
    .part4-left{
        width: 70%;
        background-image: url(../assets/3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .part4-right{
        padding: $size $size/2;
        width: 30%;
        background-color: $farei2_color;
    }
}
.part5{
    padding: $size/2 0;
    text-align: center;
    background-color: $farei2_color;
    .part5-cards{
        padding: 0 $size;
        display: flex;
        .card{
            img{
                width: 100%;
            }
        }
    }
}
.part6{
    background-image: url(../assets/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: $size;
    .part6-left{
        padding: $size/3;
        width: 50%;
        background-color: $text_white;
    }
    .part6-right{
        width: 40%;
        
    }
}
.part7{
    color: $text_white;
    text-align: center;
    padding: $size $size*2;
    background-color: $main1_color;
    .part7-form{
        input{
            background-color: transparent;
            border: 1px solid $farei2_color;
        }
    }
}